/* Home page */

.headerTxt-div {
    background-color: rgb(150, 9, 9);
    color: white;
    max-width: 40%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    border-style: solid;
    border-radius: 20px;
    transform: translate3d(0px, -60px, 0px);
}

.headerTxt {
    font-size: 2rem;
    margin: 10px;
}

.sloganTxt {
    font-size: 1.2rem;
    color: black;
}

.missionHead {
    color: black;
    margin-top: 5px;
}

.missionTxt {
    color: white;
    padding: 1em;
    margin-top: 2em;
    margin-bottom: 0;
    border-style: solid;
    border-radius: 10px;
}

.discoverHead {
    font-size: 2rem;
    margin: 0;
    color: white;
}

.discoverTxt {
    font-size: 1.2rem;
    margin: 0;
    color: white;
}

.discoverBtn:hover {
    background-color: white;
    color: black;
}

.topHeader {
    font-size: 2rem;
    background-color: rgb(150, 9, 9);
    color: white;
}

@media (max-width: 1200px) {
    .headerTxt {
        font-size: 1.5em;
    }
    .sloganTxt {
        font-size: 1rem;
    }
}

@media (max-width: 976px) {
    .missionHead {
        font-size: 1.2rem;
    }
    .missionTxt {
        font-size: 1rem;
    }
}

@media (max-width: 768px) {
    .headerTxt {
        font-size: 1.2rem;
    }
    .sloganTxt {
        font-size: 0.9rem;
    }
    .missionHead {
        font-size: 1rem;
    }
    .missionTxt {
        font-size: 0.9rem;
    }
}

@media (max-width: 576px) {
    .headerTxt-div {
        transform: translate3d(0px, -35px, 0px);
    }
    .headerTxt {
        font-size: 1rem;
    }
    .sloganTxt {
        font-size: 0.8rem;
    }
    .missionTxt {
        font-size: 0.8rem;
    }
}

@media (max-width: 480px) {
    .headerTxt {
        font-size: 0.9rem;
    }
    .sloganTxt {
        font-size: 0.7rem;
    }
    .missionHead {
        font-size: 0.9rem;
    }
    .missionTxt {
        font-size: 0.7rem;
    }
}

@media (max-width: 320px) {
    .headerTxt-div {
        transform: translate3d(0px, -10px, 0px);
    }
    .headerTxt {
        font-size: 0.8rem;
    }
    .missionHead {
        font-size: 0.7rem;
    }
    .missionTxt {
        font-size: 0.6rem;
    }
}



/* End Homepage */